<h1 style="text-align: center;">Manage Orders</h1>


<div class="co1-12 mt-3">

  

  <table class="table table-bordered mt-2 tb_datatable">
   <thead>
      <tr>
          <th>Ordered Date</th>
        <th>Order ID</th>
         <th>Ordered Products</th>
        <th>Total Price</th>
        <th>Payment Method</th>
        <th>Username</th>
        <th>Current Status</th>
        <th>View</th>
      
        
      </tr>
    </thead>
    <tbody id="myTable">
     {{#each orders}}
      <tr>
        <td>{{this.date}}</td>
        <td>{{this._id}}</td>
        <td>
            {{#each this.products}}
            <p>{{product.productTitle}}- ( <span style="font-weight: bold;">{{quantity}}</span> <span style="font-weight: bold;"> X </span><span style="font-weight: bold;">Rs. {{product.price}}</span> = <span  style="font-weight: bold;">Rs. {{total}}</span> )</p>
            {{/each}}
        </td>
        <td>Rs. {{this.grandTotal}}</td>
        <td>{{this.paymentMethod}}</td>
        <td>{{this.user.username}}</td>
        <td>{{this.orderstatus}}</td>
        <td><a href="/admin/view_order_details/{{this._id}}" class="btn btn-success">View Details</a></td>
        
       
        
         </tr>
         {{/each}}
     
    </tbody>
  </table>
  

</div>