<h1 style="text-align: center;">Manage Banners</h1>
<h4 class="mt-4">Manage Home Page Main Banner</h4>
<div class="mt-3 w-75" style="justify-content: center;">
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Images</th>
                <th>Titles</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td style="width: 300px;">
                    <img class="mt-3" style="width: 360px; height: 150px;" src="/banner-images/{{banner._id}}first.jpg"
                        alt=""><br>
                    <img class="mt-3" style="width: 360px; height: 150px;" src="/banner-images/{{banner._id}}second.jpg"
                        alt=""><br>
                    <img class="mt-3" style="width: 360px; height: 150px;" src="/banner-images/{{banner._id}}third.jpg"
                        alt=""><br>
                    <img class="mt-3" style="width: 360px; height: 150px;" src="/banner-images/{{banner._id}}fourth.jpg"
                        alt="">
                </td>
                <td>
                    <br><br><br>
                    <h5>{{banner.title1}}</h5><br><br><br><br><br>
                    <h5>{{banner.title2}}</h5><br><br><br><br><br>
                    <h5>{{banner.title3}}</h5><br><br><br><br><br>
                    <h5>{{banner.title4}}</h5>
                </td>
                <td style="text-align: center;">
                    <a href="/admin/block/{{this._id}}"> <i class="fas fa-trash mt-5"
                            style="color: red; font-size: 30px;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h4 class="mt-5">Manage Home Page Category Banner</h4>
<div class="mt-3 w-75" style="justify-content: center;">
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Images</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td style="width: 300px;">
                    <img class="mt-3" style="width: 360px; height: 300px;" src="/banner-images/{{CategoryBanner._id}}men.jpg"
                        alt=""><br>
                    <img class="mt-3" style="width: 360px; height: 300px;" src="/banner-images/{{CategoryBanner._id}}women.jpg"
                        alt="">
                </td>
                <td style="text-align: center;">
                    <a href="/admin/block/{{this._id}}"> <i class="fas fa-trash mt-5"
                            style="color: red; font-size: 30px;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<h4 class="mt-5">Manage Product Page Banner</h4>
<div class="mt-3 w-75" style="justify-content: center;">
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Images</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td style="width: 300px;">
                    <img class="mt-3" style="width: 360px; height: 300px;" src="/banner-images/{{productBanner._id}}image.jpg"
                        alt="">
                </td>
                <td style="text-align: center;">
                    <a href="/admin/block/{{this._id}}"> <i class="fas fa-trash mt-5"
                            style="color: red; font-size: 30px;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>