<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>

        	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
		<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>
		<script src="https://unpkg.com/dropzone"></script>
		<script src="https://unpkg.com/cropperjs"></script>
   

        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        
        {{#if isUser }}
        {{!----------------------- User Header Files Started ----------------------------------------}}
            {{#if otpverify}}
                {{!----------------------- User OTP Page Files Started ----------------------------------------}}
                <meta charset="utf-8" />
                <title>Footwear</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta content="Responsive bootstrap 4 admin template" name="description" />
                <meta content="Coderthemes" name="author" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <link rel="shortcut icon" href="/admin-assets/images/favicon.ico">
                <link href="/admin-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
                <link href="/admin-assets/css/icons.min.css" rel="stylesheet" type="text/css" />
                <link href="/admin-assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
                {{!----------------------- User OTP Page Files Ended ----------------------------------------}}
            {{else}}
                {{!----------------------- User Other than OTP Page Files Started ----------------------------------------}}
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                <title>Footwear</title>
                <meta name="description" content="description">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="shortcut icon" href="/user-assets/images/favicon.png" />
                <link rel="stylesheet" href="/user-assets/css/plugins.css">
                <link rel="stylesheet" href="/user-assets/css/style.css">
                <link rel="stylesheet" href="/user-assets/css/responsive.css">
            {{/if}}
                {{!----------------------- User Other than OTP Page Files Started ----------------------------------------}}

        {{else}}
            {{#if isadmin}}
                <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
                {{#if adminLogin}}
                    <meta charset="utf-8" />
                    <title>Footwear</title>
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <meta content="Responsive bootstrap 4 admin template" name="description" />
                    <meta content="Coderthemes" name="author" />
                    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                    <link rel="shortcut icon" href="/admin-assets/images/favicon.ico">
                    <link href="/admin-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
                    <link href="/admin-assets/css/icons.min.css" rel="stylesheet" type="text/css" />
                    <link href="/admin-assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
                {{else}}
                    <meta charset="utf-8" />
                    <title>Footwear</title>
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <meta content="Responsive bootstrap 4 admin template" name="description" />
                    <meta content="Coderthemes" name="author" />
                    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                    <link rel="shortcut icon" href="/admin-assets/images/favicon.ico">
                    <link href="/admin-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet" />
                    <link href="/admin-assets/css/icons.min.css" rel="stylesheet" type="text/css" />
                    <link href="/admin-assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />
                    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

                      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css" integrity="sha512-6QxSiaKfNSQmmqwqpTNyhHErr+Bbm8u8HHSiinMEz0uimy9nu7lc/2NaXJiUJj2y4BApd5vgDjSHyLzC8nP6Ng==" crossorigin="anonymous" referrerpolicy="no-referrer" />                      <link rel="stylesheet" href="/stylesheets/main-style.css">

                      <link rel="stylesheet" href="/stylesheets/admin-style.css">
                      <link rel="stylesheet" href="/stylesheets/style.css">
                {{/if}}
            {{/if}}
        {{/if}}
         {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.css">
         <link rel="stylesheet" href="/stylesheets/main-style.css"> --}}
    </head>


    {{#if isUser }}
    <body>
        {{#if otpverify}}
            {{{body}}}
            <script src="/admin-assets/js/vendor.min.js"></script>
            <script src="/admin-assets/js/app.min.js"></script>
        {{else}}
            {{#if isUserIndex }}
                {{>user-index-header}}
            {{else }}
                {{>user-header}}
            {{/if}}

            {{{ body }}}
    
            {{#if isUserIndex }}
                {{>user-index-footer}}
            {{else }}
                {{>user-footer}}
            {{/if}}
        {{/if}}
    </body>

    {{else}}
        {{#if isadmin}}
            {{#if adminLogin }}
                <body>
                    {{{ body }}}
                    <script src="/admin-assets/js/vendor.min.js"></script>
                    <script src="/admin-assets/js/app.min.js"></script>
                </body>
            {{else }}
            <body>
            <div id="wrapper">
                {{>admin-header}}
                <div class="content-page">
    <div class="content">
         <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="header-title mb-3">Welcome !</h4>
                    </div>
                </div>
            </div>
                {{{body}}}
                <footer class="footer">
                <div class="container-fluid">
                <div class="row">
                <div class="col-md-12">
                2017 - 2020 &copy; Simple theme by <a href="#">Coderthemes</a>
                </div>
                </div>
                </div>
                </footer>
            </div>
            </div>
            </div>
            <script src="/admin-assets/js/vendor.min.js"></script>
            <script src="/admin-assets/libs/morris-js/morris.min.js"></script>
            <script src="/admin-assets/libs/raphael/raphael.min.js"></script>
            <script src="/admin-assets/js/pages/dashboard.init.js"></script>
            <script src="/admin-assets/js/app.min.js"></script>
            </body>
        {{/if }}



    {{/if}}
{{/if}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.js" integrity="sha512-witv14AEvG3RlvqCAtVxAqply8BjTpbWaWheEZqOohL5pxLq3AtIwrihgz7SsxihwAZkhUixj171yQCZsUG8kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>



        <script src="/javascripts/admin-script.js"></script>
        <script src="/javascripts/user-script.js"></script>
        <script src="/javascripts/admin-script.js"></script>
        <script src="/javascripts/script.js"></script>
</html>