
    
    <div id="page-content">        
        <!--Body Container-->
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper">
        	<div class="container">
            	<div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span aria-hidden="true">|</span> <span>Your Cart</span></div>
            </div>
        </div>
        <!--End Breadcrumbs-->
        <!--Page Title with Image-->
        <div class="page-title"><h1>My Cart</h1></div>
        <!--End Page Title with Image-->
        <div class="container">
            <div class="row">
				<!--Main Content-->
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>
                                {{#if cartProducts}}
                                {{#each cartProducts}}
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                 
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="/product-images/{{this.product._id}}first.jpg" alt="{{this.product.productTitle}}"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="#">{{this.product.productTitle}}</a>
                                        </div>
                                        
                                        
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item text-center">
                                        <span class="money">Rs. {{this.product.price}}</span>
                                    </td>
                                    
                                    <td class="cart__update-wrapper cart-flex-item text-center">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)"><i class="icon icon-minus"></i></a>
                                                <p class="cart__qty-input qty" id="{{this.product._id}}">{{this.quantity}}</p>
                                                <a class="qtyBtn plus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)"><i class="icon icon-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    
                                    <td class="small--hide cart-price text-center">
                                        <div><span class="money">Rs. {{this.product.price}}</span></div>
                                    </td>
                                
                                 
                                    <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                                </tr>
                                {{/each}}
                                    {{/if}}
                               
                            </tbody> 
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="/" class="btn btn--link btn--small cart-continue"><i class="anm anm-chevron-cir-left"></i> Continue shopping</a></td>
                                    <td colspan="3" class="text-right">
	                                    <button type="submit" name="clear" class="btn btn--link btn--small small--hide"><i class="icon icon anm anm-times-l"></i> Clear Shoping Cart</button>
                                    </td>
                                </tr>
                            </tfoot>
                    </table> 
                    </form>                   
               	</div>
                <div class="container mt-4">
                    <div class="row">
                    	<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 cart-col">
                        	<h5>Discount Codes</h5>
                            <form action="#" method="post">
                            	<div class="form-group">
                                    <label for="address_zip">Enter your coupon code if you have one.</label>
                                    <input type="text" name="coupon">
                                </div>
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Apply Coupon"></div>
                                </div>
                            </form>
                        </div>
                       
                        
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                            <div class="solid-border">	
                              <div class="row border-bottom pb-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                <span class="col-12 col-sm-6 text-right"><span class="money">$735.00</span></span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Tax</span>
                                <span class="col-12 col-sm-6 text-right">$10.00</span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                <span class="col-12 col-sm-6 text-right">Free shipping</span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
                                <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">$1001.00</span></span>
                              </div>
                              <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                              <p class="cart_tearm">
                                <label>
                                  <input type="checkbox" name="tearm" class="checkbox" value="tearm" required>
                                  I agree with the terms and conditions
								</label>
                              </p>
                              <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Proceed To Checkout">
                              <div class="paymnet-img"><img src="/user-assets/images/payment-img.jpg" alt="Payment"></div>
                              <p><a href="#;">Checkout with Multiple Addresses</a></p>
                            </div>
        
                        </div>
                    </div>
                </div>
				<!--End Main Content-->
			</div>
        
        </div><!--End Body Container-->
        
    </div><!--End Page Wrapper-->
    
    
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-arw-up"></i></span>
    <!--End Scoll Top-->
    {{#if userSession}}
    <!--MiniCart Drawer-->
    <div class="minicart-right-drawer modal right fade" id="minicart-drawer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="cart-drawer" class="block block-cart">
                    <a href="javascript:void(0);" class="close-cart" data-dismiss="modal" aria-label="Close"><i class="anm anm-times-r"></i></a>
                    <h4>Your cart ({{cartCount}} Items)</h4>
                    <div class="minicart-content">
                        <ul class="clearfix">
                        {{#each cartProducts}}
                        <li class="item clearfix">
                            <a class="product-image" href="#">
                                <img src="/product-images/{{this.product._id}}first.jpg" alt="{{this.product.productTitle}}" title="">
                            </a>
                            <div class="product-details">
                                <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                <a href="#" class="edit-i remove"><i class="icon icon-pencil"
                                        aria-hidden="true"></i></a>
                                <a class="product-title" href="cart-style1.html">{{this.product.productTitle}}</a>
                                
                                <div class="wrapQtyBtn">
                                    <div class="qtyField">
                                        <a class="qtyBtn minus" href="javascript:void(0);"><i class="anm anm-minus-r"
                                                aria-hidden="true"></i></a>
                                        <input type="text" name="quantity" value="1" class="qty">
                                        <a class="qtyBtn plus" href="javascript:void(0);"><i class="anm anm-plus-r"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="priceRow">
                                    <div class="product-price">
                                        <span class="money">Rs. {{this.product.price}}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                       
                    </ul>
                    </div>
                    <div class="minicart-bottom">
                        <div class="subtotal list">
                            <span>Shipping:</span>
                            <span class="product-price">$10.00</span>
                        </div>
                        <div class="subtotal list">
                            <span>Tax:</span>
                            <span class="product-price">$05.00</span>
                        </div>
                        <div class="subtotal">
                            <span>Total:</span>
                            <span class="product-price">$93.13</span>
                        </div>
                        <button type="button" class="btn proceed-to-checkout">Proceed to Checkout</button>
                        <a href="/add-to-cart" class="btn btn-secondary cart-btn">View Cart</a>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
    <!--End MiniCart Drawer-->
    {{/if}}

     <!-- Including Jquery -->
     <script src="/user-assets/js/vendor/jquery-min.js"></script>
     <script src="/user-assets/js/vendor/js.cookie.js"></script>
     <!-- Including Javascript -->
     <script src="/user-assets/js/plugins.js"></script>
     <script src="/user-assets/js/main.js"></script>
     
</div>