<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="card p-5">
                <div class="p-5">

                
                <h1 style="text-align: center;">Order Details</h1>
                <div class="invoice p-2">
                 <span class="font-weight-bold d-block">Order ID: </span><span>{{orderDetails._id}}</span>

                    <span class="font-weight-bold d-block float-right me-1">Order Date : </span><br> <span class="float-right me-1">{{orderDetails.date}}</span>
                        <span class="font-weight-bold d-block mt-1">Delivery Address : </span> <span>{{orderDetails.address.address}},</span><br><span>{{orderDetails.address.district}}, </span>
                        <span>{{orderDetails.address.state}}, </span><span>{{orderDetails.address.pincode}}</span><br><span>landmark : {{orderDetails.address.landmark}}</span>
                        <span class="font-weight-bold d-block mt-1">Phone No : </span> <span>{{orderDetails.address.phone}}, {{orderDetails.address.alternativePhone}}</span>
                          <span class="font-weight-bold d-block mt-1">Payment Method : </span> <span>{{orderDetails.paymentMethod}}</span>
                      

                   
                    <div class="product border-bottom table-responsive mt2">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each orderDetails.products}}


                                <tr>
                                    <td width="20%"> <img src="/product-images/{{product._id}}first.jpg" width="90">
                                     <span class="font-size: 5px">{{product.productTitle}}</span>
                                    </td>
                                       
                                
                                    <td width="20%">
                                        <span style="font-weight: bold;"> Rs. {{product.price}}</span>
                                    </td>
                                    <td width="20%">
                                        <span style="font-weight: bold;">{{quantity}}</span>
                                    </td>
                                     <td width="20%">
                                        <span style="font-weight: bold;">Rs. {{total}}</span>
                                    </td>
                                </tr>

                                {{/each}}

                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$168.50</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$22</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$7.65</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="text-success">$168.50</span> </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Grand Total</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">Rs.
                                                    {{orderDetails.grandTotal}}</span> </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                </div>
               
                   
                 
                        <a href="/admin/packed/{{orderDetails._id}}" class="btn float-right"  style="color: white; background-color: red; font-weight: bold;">Cancel</a>
                 
                   
                    
                
                </div>
                <div class="d-flex justify-content-between footer p-3 mt-4"> <span><a href=""> << Back
                            </a></span> </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>